
#container {
  margin: 20px auto;
  max-width: 600px;
}

#spielszenen {
  background: green;
  background: url(../img/fussballfeld.jpg) no-repeat;
  background-size: contain;
  padding: 2.9% 3%;
}


#result {
  margin: 3px 0;
  height: 30px;
}

#result span {
  float: left;
  display: inline-box;
  line-height: 30px;
}

#result .left {
  width: 42%;
  text-align: right;
}

#result .score {
  width: 16%;
  font-size: 30px;
  letter-spacing: 4px;
  text-align: center;
}

#result .right {
  width: 42%;
}

/*circle {
  background: #EE402F;
  box-shadow: 1px, 1px, 4px, rgba(0, 0, 0, 0.5);
}*/

#controls {
  text-align: center;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
}

#controls>a {
/*  float: left;*/
  text-decoration: none;
  color: #000;
}

#scene-list {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#scene-list li {
  display: inline-block;
/*  float: left;*/
  padding: 0 5px;
}

#scene-list li a {
  text-decoration: none;
  color: #fff;
  background: #888;
  border-radius: 20px;
  padding: 3px 5px 3px 8px;
}

#scene-list li a.active {
  background: #444;
}


.clear {
  clear: both;
}