
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* SPIELSZENE */
#container {
  margin: 20px auto 40px;
  max-width: 990px;
}

#scenes {
  background: green;
  background: url(../img/fussballfeld.jpg) no-repeat;
  background-size: contain;
  padding: 2.9% 3%;
}


#scene-result {
  margin: 3px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#scene-result div {
  float: left;
  display: inline-box;
  line-height: 30px;
  position: relative;
}

#scene-result .left {
  width: 42%;
  text-align: right;
}

#scene-result .score {
  width: 16%;
  font-size: 30px;
  letter-spacing: 4px;
  text-align: center;
}

#scene-result .right {
  width: 42%;
}


.tooltip {
  margin-left: 10px;
}


#scene-controls {
  text-align: center;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  background: #efefef; /*#A70B0C;*/
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 10px;
}

#prev-scene,
#next-scene {
  width: 95px;
  padding: 0 10px;
  text-decoration: none;
  color: #000;
}
#prev-scene { float: left; text-align: left; }
#next-scene { float: right; text-align: right; }

#prev-scene i,
#next-scene i {
  margin-top: 7px;
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
}
#prev-scene i { background-position: 0 0; float: left; margin-right: 5px; }
#next-scene i { background-position: -75px 0; float: right; margin-left: 5px; }

#prev-game,
#next-game {
  position: absolute;
  top: 7px;
  width: 20px;
  height: 20px;
  background: url(../img/sprite.png) no-repeat;
}

#prev-game {
  left: 6px;
  background-position: -25px 0;
}

#next-game {
  right: 12px;
  background-position: -50px 0;
}

#scene-list {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#scene-list li {
  display: inline-block;
/*  float: left;*/
  padding: 0 5px;
}

#scene-list li a {
  text-decoration: none;
  color: #fff;
  background: #aaa;
  padding: 3px 5px 3px 8px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

#scene-list li a.active {
  background: #444;
}

#scene-desc {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: -20px;
  text-align: center;
  color: white;
}

#scene-desc em {
  font-style: normal;
  padding-right: 10px;
}

#scene-desc span {
  padding-right: 20px;
}


/* TABLE */

#stats {
  position: relative;
}

/* navigation */
#table-nav {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

#table-nav ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

#table-nav li {
  float: left ;
  padding-right: 5px;
}

#table-nav li a {
  text-decoration: none;
  color: #fff;
  background: #aaa;
  padding: 3px 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

#table-nav li a.active {
  background: #444;
}

#table-filter {
  float: right;
}

#table-filter form {
  margin: 0 0 5px;
  padding: 0;
}

/* table */
#table-container {
  padding: 15px 10px 10px;
  margin-bottom: 40px;
  background: #f6f6f6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#player-table {
  border-collapse: collapse;
  width: 100%;
}

#player-table thead {
  /* font-family: Georgia, serif;*/
  font-size: 12px;
  font-weight: bold;
  padding: 8px 4px;
}

#player-table thead th {
  font-size: 11px;
  font-weight: bold;
  padding: 6px 4px;
  color: #333;
  background: #f6f6f6;
  vertical-align: bottom;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #f6f6f6;
  cursor: pointer;
}

#player-table thead th:hover {
  color: #fff;
  background: #777;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#player-table th.headerSortUp,
#player-table th.headerSortDown {
  background: #ddd;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#player-table tbody {
  font-size: 12px;
}

/* columns */
#player-table .col-player { background: #f6f6f6; border-right: 1px solid #ddd; }
#player-table .col-position { background: #f6f6f6; border-right: 1px solid #fff; }
#player-table .td-position { color: #aaa; }
#player-table .col-games { background: #CCF0FF; border-right: 1px solid #A1C5D6; }
#player-table .col-minutes { background: #CCF0FF; border-right: 1px solid #A1C5D6; }
#player-table .col-grade { background: #CCF0FF; border-right: 1px solid #fff; }
#player-table .col-goals { background: #E1EFD5; border-right: 1px solid #B5C5A8; }
#player-table .col-assists { background: #E1EFD5; border-right: 1px solid #fff; }
#player-table .col-scores { background: #E1EFD5; border-right: 1px solid #fff; }
#player-table .col-scoresperminute { background: #E1EFD5; border-right: 1px solid #fff; }
#player-table .col-yellow { background: #FFF2CC; border-right: 1px solid #E8DBAD; }
#player-table .col-yellow-red { background: #FFF2CC; border-right: 1px solid #E8DBAD; } /* orange: FCE5CD */
#player-table .col-red { background: #FFF2CC; border-right: 1px solid #fff; } /* red: F4CCCC */
#player-table .col-graph { background: #f6f6f6; width: 200px; }

/* triggers */
.games-table { cursor: pointer; }
.scenes-table { cursor: pointer; }
.top-table { cursor: pointer; }

#player-table td {
  padding: 3px 4px;
  color: #333;
  border-bottom: 1px solid #ffffff;
}

.legend {
  font-size: 0.7em;
  color: #333;
}

.last-update {
  position: absolute;
  right: 5px;
  bottom: 0px;
}

#player-table td.graph {
  padding: 0 8px;
  vertical-align: bottom;
  background: #f6f6f6;
  border-bottom: 1px solid #ddd !important;
}
.center {
  text-align: center;
}

/* UTILS */
.loading {
  color: #666;
  padding: 0 0 20px;
  font-size: 12px;
}

.clear {
  clear: both;
}

.clearfix { *zoom: 1; }
.clearfix:after { clear: both; }

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

/* RESPONSIVE */
@media (max-width: 767px) {

  .hide-mobile { display: none; }

  #table-filter { margin-top: 10px; float: left; }
  #prev-scene,
  #next-scene {
    width: 25px;
  }

  #prev-scene { padding: 0 0 0 5px; }
  #next-scene { padding: 0 5px 0 0; }

  #scene-result .score { font-size: 20px; width: 18%; }
  #scene-result .left, #scene-result .right  { width: 41%; }

  #prev-game { left: 0; }
  #next-game { right: 0; }


}

@media (max-width: 420px) {

  .last-update {
    bottom: 12px;
  }

  #scene-controls {margin-bottom: 0px;}

  #scene-desc {
	  margin-bottom: 0px;
	  color:black;
	  font-weight: normal;
  }

}
