
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* SPIELSZENE */
#scene-container {
  margin: 20px auto;
  max-width: 548px;
}

#scenes {
  background: green;
  background: url(../img/fussballfeld.jpg) no-repeat;
  background-size: contain;
  padding: 2.9% 3%;
}


#scene-result {
  margin: 3px 0;
  height: 30px;
}

#scene-result span {
  float: left;
  display: inline-box;
  line-height: 30px;
}

#scene-result .left {
  width: 42%;
  text-align: right;
}

#scene-result .score {
  width: 16%;
  font-size: 30px;
  letter-spacing: 4px;
  text-align: center;
}

#scene-result .right {
  width: 42%;
}

/*circle {
  background: #EE402F;
  box-shadow: 1px, 1px, 4px, rgba(0, 0, 0, 0.5);
}*/

#scene-controls {
  text-align: center;
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  background: #efefef; /*#A70B0C;*/
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#prev-scene,
#next-scene {
  width: 100px;
  padding: 0 10px;
  text-decoration: none;
  color: #000;
}
#prev-scene { float: left; text-align: left; }
#next-scene { float: right; text-align: right; }

#scene-list {
  display: inline-block;
  margin: 0;
  padding: 0;
}

#scene-list li {
  display: inline-block;
/*  float: left;*/
  padding: 0 5px;
}

#scene-list li a {
  text-decoration: none;
  color: #fff;
  background: #aaa;
  padding: 3px 5px 3px 8px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

#scene-list li a.active {
  background: #444;
}

#scene-desc {
  font-size: 12px;
}

#scene-desc em {
  font-style: normal;
  padding-right: 10px;
}

#scene-desc span {
  padding-right: 20px;
}

/* TABLE */
#table-container {
  margin: 20px auto;
  max-width: 648px;
}

#table-container thead {
  /* font-family: Georgia, serif;*/
  font-size: 12px;
}

#table-container tbody {
  font-size: 12px;
}

/* UTILS */

.clear {
  clear: both;
}